<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title" style="color:white"><h4>Company</h4></span>
          </li>
          <li class="nav-item" >
            <a class="nav-link" style="color:white">em ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet, itaque accusantium odio, soluta, corrupti aliquam
            quibusdam tempora at cupidita</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item" style="color:white">
            <span class="footer-title"><h4>Contact & Support</h4></span>
          </li>
          <li class="nav-item" style="color:white" >
            <span class="nav-link" style="color:white"><i class="fas fa-phone" ></i> +91 9404159193</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white"><i class="fas fa-envelope" style="color:white"></i>  yashlanjewar597@gmail.com</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white"><i class="fas fa-star" style="color:white"></i>IIT Kharagpur, Midnapore West Bengal</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>
    
    <div class="row text-center">
      <div class="col-md-4 box">
        <span class="copyright quick-links">Copyright &copy; Your Website <script>document.write(new Date().getFullYear())</script>
        </span>
      </div>
      <div class="col-md-4 box">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 box">
        <ul class="list-inline quick-links">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>